img {
  width: 400px;
  height: 300px;
}

.point {
  position: absolute;
  display: block;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 100%;
}

.point-1 {
  top: 150px;
  right: 150px;
}


.point-2 {
  top: 100px;
  right: 250px;
}


.image-wrapper {
  margin: 0 auto;
  position: relative;
  width: 400px;
}
