.app {

  .hero-wallpaper {
    background-image: url('https://millennialmechanics70526984.files.wordpress.com/2019/02/cropped-dazzle.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-position-y: -100px;

    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      color: #fff;
      text-transform: uppercase;
      font-size: 30px;
    }
  }

  .content {
    // background-color: #eff4f6;
    background-color: #fff;
    padding: 30px 50px;
    min-height: 700px;

    font-size: 18px;
    // color: #787e82;
  }


}
