@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}


.btn {
  background: linear-gradient(to right, #f77d97 0%, #f57872 50%, #f57872 50%, #f77d97 100%) no-repeat scroll right bottom / 210% 100% #f57872;
  padding: 0.969rem 3.42rem;
  border-radius: 35px;
  color: #fff;
  text-transform: lowercase;
  text-decoration: none;
}
